*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background: linear-gradient(to right,black, blue, navy, royalblue, navy, black);
}
/* body {
    background: linear-gradient(to right,black, red, orangered, orange, orangered, red, black );
} */
.box {
    width: 20px;
    height: 20px;
    margin: auto;
    box-shadow: 0px 20px black,
                20px 20px black,
                -20px 20px black,
                -40px 40px black,
                -60px 40px black,
                -80px 40px black,
                -20px 40px red,
                0px 40px red,
                20px 40px red,
                40px 40px black,               
                60px 40px black,              
                80px 40px black,
                -100px 60px black,
                -80px 60px red,
                -60px 60px red,
                -40px 60px red,
                -20px 60px red,
                0px 60px red,
                80px 60px red,
                60px 60px red,
                40px 60px red,
                20px 60px red,
                100px 60px black,
                -120px 80px black,
                120px 80px black,
                -100px 80px red,
                -80px 80px gold,
                -60px 80px gold,
                -40px 80px red,
                -20px 80px red,
                0px 80px red,
                100px 80px red,
                80px 80px gold,
                60px 80px gold,
                40px 80px red,
                20px 80px red,
                -120px 100px black,
                120px 100px black,
                -100px 100px red,
                -80px 100px gold,
                -60px 100px gold,
                -40px 100px red,
                -20px 100px red,
                0px 100px red,
                100px 100px red,
                80px 100px gold,
                60px 100px gold,
                40px 100px red,
                20px 100px red,
                -120px 120px black,
                120px 120px black,
                -100px 120px red,
                -80px 120px gold,
                -60px 120px gold,
                -40px 120px gold,
                -20px 120px red,
                0px 120px red,
                100px 120px red,
                80px 120px gold,
                60px 120px gold,
                40px 120px gold,
                20px 120px red,                
                -140px 140px black,
                140px 140px black,
                -120px 140px red,
                120px 140px red,
                -100px 140px black,
                100px 140px black,
                -80px 140px gold,
                -60px 140px gold,
                -40px 140px gold,
                -20px 140px gold,
                0px 140px gold,
                80px 140px gold,
                60px 140px gold,
                40px 140px gold,
                20px 140px gold,
                -140px 160px black,
                140px 160px black,
                -120px 160px red,
                120px 160px red,
                -100px 160px black,
                -80px 160px black,
                -60px 160px black,
                -40px 160px black,
                -20px 160px black,
                0px 160px black,
                100px 160px black,
                80px 160px black,
                60px 160px black,
                40px 160px black,
                20px 160px black,
                -140px 180px black,
                140px 180px black,
                -120px 180px red,
                120px 180px red,
                -100px 180px gold,
                100px 180px gold,
                -80px 180px lightcyan,
                80px 180px lightcyan,
                -60px 180px lightcyan,
                60px 180px lightcyan,
                -40px 180px lightcyan,
                40px 180px lightcyan,
                -20px 180px black,
                0px 180px black,
                20px 180px black,
                140px 200px black,
                -140px 200px black,
                -120px 200px red,
                120px 200px red,
                -100px 200px gold,
                -80px 200px gold,
                -60px 200px gold,
                -40px 200px gold,
                -20px 200px gold,
                0px 200px gold,
                100px 200px gold,
                80px 200px gold,
                60px 200px gold,
                40px 200px gold,
                20px 200px gold,
                -120px 220px black,
                120px 220px black,
                -100px 220px red,
                -80px 220px gold,
                -60px 220px gold,
                -40px 220px gold,
                -20px 220px gold,
                0px 220px gold,
                100px 220px red,
                80px 220px gold,
                60px 220px gold,
                40px 220px gold,
                20px 220px gold,
                -120px 240px black,
                120px 240px black,
                -100px 240px red,
                -80px 240px gold,
                -60px 240px gold,
                -40px 240px gold,
                -20px 240px gold,
                0px 240px gold,
                100px 240px red,
                80px 240px gold,
                60px 240px gold,
                40px 240px gold,
                20px 240px gold,
                -100px 260px black,
                100px 260px black,
                -80px 260px red,
                -60px 260px gold,
                -40px 260px black,
                -20px 260px black,
                0px 260px black,
                80px 260px red,
                60px 260px gold,
                40px 260px black,
                20px 260px black,
                -80px 280px black,
                -60px 280px black,
                80px 280px black,
                60px 280px black,
                -40px 280px gold,
                -20px 280px gold,
                0px 280px gold,
                40px 280px gold,
                20px 280px gold,
                -60px 300px black,
                60px 300px black,
                -40px 300px red,
                -20px 300px red,
                0px 300px red,
                40px 300px red,
                20px 300px red,
                80px 300px red,
                -80px 300px red,
                100px 300px black,
                -100px 300px black,
                -40px 320px black,
                -20px 320px black,
                0px 320px black,
                40px 320px black,
                20px 320px black,
                60px 320px red,
                -60px 320px red,
                80px 320px black,
                -80px 320px black,
                100px 320px red,
                -100px 320px red,
                120px 320px black,
                -120px 320px black,
                -140px 340px black,
                140px 340px black,
                -120px 340px gold,
                120px 340px gold,
                100px 340px gold,
                -100px 340px gold,
                -80px 340px black,
                80px 340px black,
                -60px 340px red,
                60px 340px red,
                40px 340px black,
                -40px 340px black,
                -20px 340px lightcyan,
                0px 340px lightcyan,
                20px 340px lightcyan,
                -160px 360px black,
                160px 360px black,
                -140px 360px red,
                140px 360px red,
                -120px 360px red,
                120px 360px red,
                -100px 360px gold,
                100px 360px gold,
                -80px 360px black,
                80px 360px black,
                -60px 360px red,
                60px 360px red,
                -40px 360px red,
                40px 360px red,
                20px 360px black,
                -20px 360px black,
                0px 360px lightcyan,
                -160px 380px black,
                160px 380px black,
                -140px 380px red,
                140px 380px red,
                -120px 380px red,
                120px 380px red,
                -100px 380px black,
                100px 380px black,
                -80px 380px black,
                80px 380px black,
                -60px 380px red,
                60px 380px red,
                -40px 380px red,
                40px 380px red,
                20px 380px red,
                -20px 380px red,
                0px 380px black,
                140px 400px black,
                -140px 400px black,
                120px 400px black,
                -120px 400px black,
                80px 400px black,
                -80px 400px black,
                -60px 400px red,
                60px 400px red,
                -40px 400px red,
                40px 400px red,
                20px 400px red,
                -20px 400px red,
                0px 400px red,
                100px 420px black,
                -100px 420px black,
                80px 420px gold,
                60px 420px gold,
                -80px 420px gold,
                -60px 420px gold,
                -40px 420px red,
                40px 420px red,
                20px 420px red,
                -20px 420px red,
                0px 420px red,
                100px 440px black,
                -100px 440px black,
                80px 440px red,
                60px 440px gold,      
                -80px 440px red,
                -60px 440px gold,  
                -40px 440px gold,
                40px 440px gold,
                20px 440px black,    
                0px 440px black,
                -20px 440px black,
                100px 460px black,
                -100px 460px black,    
                80px 460px red,
                60px 460px red,
                -80px 460px red,
                -60px 460px red,
                40px 460px black,
                -40px 460px black,
                100px 480px black,
                -100px 480px black,    
                80px 480px red,
                60px 480px red,
                -80px 480px red,
                -60px 480px red,
                40px 480px black,
                -40px 480px black,
                100px 500px black,
                -100px 500px black,    
                80px 500px black,
                60px 500px black,
                -80px 500px black,
                -60px 500px black,
                40px 500px black,
                -40px 500px black,
                100px 520px lightcyan,
                -100px 520px lightcyan,    
                80px 520px yellow,
                60px 520px yellow,
                -80px 520px yellow,
                -60px 520px yellow,
                40px 520px lightcyan,
                -40px 520px lightcyan,
                -90px 540px lightcyan,
                90px 540px lightcyan,
                70px 540px yellow,
                -70px 540px yellow,
                50px 540px lightcyan,
                -50px 540px lightcyan,
                70px 560px lightcyan,
                -70px 560px lightcyan
}