*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
header h1 {
    font-size: 4em;
    text-align: center;
    margin-top: 2%;
}
main {
    font-size: 3em;
    display: grid;
    grid-template-columns: 35% 1fr;
    width: 80%;
    outline: 2px solid black;
    margin: 2% auto;
}
aside {
    outline: 2px solid black;
    display: flex;
    flex-direction: column;
}
aside img {
    width: 100%;
}
.content li {
    list-style: none;
    text-align: center;
    line-height: 1.8;
    margin-bottom: 3%;
}
.contact {
    display: flex;
    flex-direction: column;
    margin: 2% auto;
    justify-content: space-evenly;
}
.contact a {
    text-decoration: none;
    color: black;
    margin-top: 10%;
}
abbr {
    text-decoration: none;
}
.contact a:hover:not(:last-of-type) {
    color: rgba(0, 0, 0, 0.672);
}

@media (max-width:1000px) {
    aside{
        grid-column: 1 / 3;
    }
    aside img {
        width: 50%;
        margin: 0 auto;
    }
    main {
        font-size: 1.5em;
    }
    .contact {
        grid-column: 1 / 3;
    }
}