header {
    grid-column: 1 / 3;
}
header h1 {
    font-size: 4em;
    text-align: center;
}
nav { 
    background-color: white;
}
.search-box {
    justify-content: flex-end;
    margin-right: 5%;
}
.side-heading {
    font-size: 2em;
    text-align: center;
    margin-bottom: 5%;
}
.veg-or-nonveg {
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-block: 2% 8%;
}
.filters-type-of-cuisine {
    display: flex;
    flex-direction: column;
    font-size: 1.5em;
    margin-block: 2% 8%;
}
.filters-type-of-cuisine div label,
.veg-or-nonveg div label{
    margin-left: 5%;
}
input[type=radio], input[type=checkbox] {
    transform: scale(1.5);
}
#apply-filter {
    padding: 1%;
    font-size: 1em;
    width: 160px;
    margin-block: 1% 2%;
    background-color: royalblue;
    border-radius: 5px;
    color: white;
    box-shadow: 2px 5px 5px gray;
}
#apply-filter a:hover{
    color: lightgray;
}
#apply-filter a{
    text-decoration: none;
    color: white;
}
@media (max-width:1000px) {
    .search-box{
        display: flex;
        justify-content: center;
    }
}