*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    display: grid;
    grid-template-columns: 1fr 25%;
}
nav{
    grid-column: 1 / 3;
    font-size: 1.5em;
    padding-block: 1%;
    font-weight: 600;
    background-color: whitesmoke;
}
nav ul{
    display: flex;
    align-items: center;
    list-style: none;
}
nav ul li{
    margin-left: 2%;
}
nav ul li:nth-child(1){
    width: 300px;
    flex-shrink: 0;
}
nav ul li:nth-child(5){
    position: absolute;
    right: 2%;
    justify-self: flex-end;
    flex-basis: 200px;
    flex-shrink: 0;
}
.logo{
    padding-left: 2%;
    display: flex;
    align-items: center;
}
.logo img{
    padding-right: 4px;
    height: 50px;
    border-radius: 50%;
}
.search-box{
    display: flex;
    justify-content: space-between;
    margin-left: 2%;
}
#search-box{
    font-size: 1em;
}
.fa-search{
    font-size: 1.5em;
    margin-left: 10%;
}
nav ul li a{
    text-decoration: none;
    color: black;
}
nav ul li a:hover{
    color: gray;
}
.hero-section img{
    width: 75%;
    max-width: 700px;
}
.hero-section{
    grid-column: 1 / 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2%;
}
.hero-section p {
    width: 50%;
    font-size: 1.5em;
}
main{
    margin-inline: 5%;
    font-size: 1.5em;
}
aside{
    position: sticky;
    outline: 2px solid black;
    margin-top: 2%;
    margin-right: 5%;
    padding: 10%;
    font-size: 1.5em;
    height: fit-content;
}
.container{
    display: flex;
    flex-direction: column;
}
.item {
    display: flex;
    padding: 2%;
    margin: 1%;
    outline: 2px solid black;
}
.item-content{
    margin-inline: 2%;
}
.item-quantity{
    display: flex;
}
#quantity{
    margin-left: 6px;
    width: 60px;
    font-size: 1em;
}
aside {
    margin-right: 2%;
}
aside header{
    font-size: 1.5em;
    text-align: center;
    font-weight: 600;
    margin-bottom: 5%;
}
aside li{
    line-height: 1.5;
}
aside ol > li {
    font-size: 1.2em;
    font-weight: 600;
}
aside ol ul{
    margin-left: 10%;
}
#view-more {
    padding: 1%;
    font-size: 1em;
    width: 160px;
    margin: 0 auto;
    margin-block: 1% 2%;
    background-color: royalblue;
    border-radius: 5px;
    color: white;
    box-shadow: 2px 5px 5px gray;
}
#view-more a:hover{
    color: lightgray;
}
#view-more a{
    text-decoration: none;
    color: white;
}
@media (max-width:1000px) {
    nav{
        font-size: 1em;
    }
    nav ul li:nth-child(5){
        position: static;
    }
    nav ul li:nth-child(1){
        width: 220px;
    }
    .search-box{
        display: none;
    }
    .hero-section p{
        width: 80%;
    }
    main{
        grid-column: 1 / 3;
    }
    aside{
        display: none;
    }
    .item{
        flex-direction: column;
    }
    .item-name, .item-price{
        text-align: center;
    }
    .item-quantity{
        justify-content: center;
    }
    .item-image{
        margin: 0 auto;
    }
}