*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-size: 16px;
    height: 100vh;
    display: grid;
    grid-template-areas: 
    "header header header"
    "nav content sidebar"
    "nav footer footer";

    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 80px 1fr 70px;
}

header,
footer,
main, 
aside, 
nav {
    background-color: steelblue;
    color: white;
    padding: 20px;
    border: 1px solid white;
}

header{
    grid-area: header;
}

nav{
    grid-area: nav;
}

main{
    grid-area: content;
}

aside{
    grid-area: sidebar;
}

footer{
    grid-area: footer;
}
